@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
body{
    margin: 0px;
    padding:0px;
}
.header{
    background-color:rgba(255, 144, 14, 0.1);
    height:px;
}
ul li {
    list-style:none;
    margin-right:20px;
    
}
ul li a{
    text-decoration:none;
    color:black;
    font-weight:1rem;
}
.nav{

    justify-content:space-between;
    align-items:center;
    max-width:1140px;
    margin:0 auto;
}
.flex{
    display:flex;
}
.logo{
    font-size:2.8rem;
}
.orange{
    color:#FF900E;
}
.dark1{
    color:#131313;
}
.dark2{
    color:#424242;
}
.dark3{
    color:#727272;
}
.banner-content{
    max-width:1140px;
    margin:0 auto;
}
.banner-items{
    text-align:center;
    font-weight:bold;
}
.banner-content img{
    width:100%;
}
.banner-title{
   font-size:4rem;
}
.banner-title-describtion{
    font-size:1rem;
}
.btn-prime{
   background-color:#FF900E;
    font-weight:600;
    color:white;
    border-radius:8px;
    font-size:1.3rem;
    padding:20px 25px;
    margin-bottom:32px;
    border:none;
    
}
/* team styling start from here  */
.team{
    /* max-width:1100px; */
    margin:130px auto;
    justify-content:center;
    align-items:center;
    gap:80px;
}
.team-image{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    width:500px;
    
}
.team-image img{
    width:100%;
    border-radius:8px;
    border:2px solid transparent;

}
.team-content{
   max-width:530px;
   padding:10px;
  
}
.title-describtion{
    font-size:1rem;
}
.title{
    font-size:3rem;
}
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover{
 border:2px solid blue;
}
.feature-enjoy{
    width:1400px;
    margin:0px auto;
    gap:50px;
}

.about-feature-enjoy{
    padding:50px;
    width:48%;
}



.enjoy-title{
    padding-left:20px;
    border-left:5px solid #FF900E;
    font-size:2.8rem;
}
.all-h3{
    margin-left:20px;
    margin-top:0px;
}
.feature-card>h3{
    font-size:1.3rem;
    font-weight:600;
    color:#131313;
}

.feature-card>p{
    color:#727272;
     font-family: "Work Sans", sans-serif;
}
.feature-card{
    box-shadow:0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding:30px 40px 30px 30px;
    margin-top:20px;
}
.feature-enjoy-image{
    margin-top:70px;
}

.feature-enjoy-image>img{
    
    width:100%;
}
.experience-badge{
   padding:45px 42px;
   font-size:1.5rem;
   font-weight:500;
   margin-left:-80px;
   margin-top:-100px;
}
#exp{
    font-size:1.4rem;
    font-weight:500;
}
#experience-year{
    font-size:4rem;
    font-weight:700;
    color:white;
}
.experience-box>h1{
    margin-bottom:0px;
}
/* some-facts-styling start */ 
.about-some-facts{
    margin-top:20px;
    width:1400px;
    margin:0 auto;
}
.some-facts-title{
    font-size:2.8rem;
    font-weight:700;

}
.some-facts-icon-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:60px;
    gap:125px;
}
.some-facts-icon-item{
    text-align:center;
    border:1px solid #FF900E;
    border-radius:8px;
    padding:20px 30px; 
}
.some-facts-icon-item>h2{
    margin:10px;
    font-weight:600;
    font-size:2.5rem;
}
.some-facts-icon-item>p{
    margin:10px;
    font-size:1.2rem;
    font-weight:600;
}
/* footer styling from here  */
.sponspor{
    width:1400px;
    margin:0 auto;
}
.sponspors-title{
    margin-top:180px;
    text-align:center;
    font-size:2.7rem;
    font-weight:bold;
}
.sponspors-describtion{
    text-align:center;
    font-size:1rem;
    margin-top:24px;

}
.sponspors-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:154px;
    margin-top:60px;
}
.copyright{
    background-color:#FFF4E7;
    text-align:center;
    padding:40px 400px;
    margin-top:155px;
    font-size:1rem;

}








@media screen and (max-width:576px)
{
    .nav,
    .ul-list,
    .team,
    .feature-enjoy{ 
        flex-direction:column;
    }
.ul-list{
    gap:15px;
}
/* responsive for our teamwork & title  */
.team-image{
    grid-template-columns:repeat(1,1fr);
}
}
