@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
body{
    margin: 0px;
    padding:0px;
}
.header{
    background-color:rgba(255, 144, 14, 0.1);
    height:px;
}
ul li {
    list-style:none;
    margin-right:20px;
    
}
ul li a{
    text-decoration:none;
    color:black;
    font-weight:1rem;
}
.nav{

    justify-content:space-between;
    align-items:center;
    max-width:1140px;
    margin:0 auto;
}
.flex{
    display:flex;
}
.logo{
    font-size:2.8rem;
}
.orange{
    color:#FF900E;
}
.dark1{
    color:#131313;
}
.dark2{
    color:#424242;
}
.dark3{
    color:#727272;
}
.banner-content{
    max-width:1140px;
    margin:0 auto;
}
.banner-items{
    text-align:center;
    font-weight:bold;
}
.banner-content img{
    width:100%;
}
.banner-title{
   font-size:4rem;
}
.banner-title-describtion{
    font-size:1rem;
}
.btn-prime{
   background-color:#FF900E;
    font-weight:600;
    color:white;
    border-radius:8px;
    font-size:1.3rem;
    padding:20px 25px;
    margin-bottom:32px;
    border:none;
    
}
/* team styling start from here  */
.team{
    max-width:1000px;
    margin:130px auto;
    justify-content:center;
    align-items:center;
    gap:80px;
}
.team-image{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    
}
.team-image img{
    width:100%;
    border-radius:8px;

}
.team-content{
    width:537px;
    

}
.title{
    font-size:3rem;
}
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover{
    border:2px solid blue;
}
@media screen and (max-width:576px)
{
    .nav,
    .ul-list,
    .team{ 
        flex-direction:column;
    }
.ul-list{
    gap:15px;
}
/* responsive for our teamwork & title  */
.team-image{
    grid-template-columns:repeat(1,1fr);
}
}